<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button color="basic" (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Gestión de alumnos</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
    <div class="user-table-container">
        <div class="heading">
            <h1>Añadir Estudiantes</h1>
            <p>Añade estudiantes a tu unidad de aprendizaje</p>
        </div>

        <div class="form-input">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Buscar</mat-label>
                <input matInput [(ngModel)]="searchTextAdd" (keyup)="applyFilterAdd()"
                    placeholder="Ingresa matricula o nombre">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSourceAdd">

            <!-- Seleccion Column -->
            <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef> Seleccion </mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <mat-checkbox (change)="onCheckboxChangeAdd(student, $event.checked)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Matricula Column -->
            <ng-container matColumnDef="matricula">
                <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.matricula}} </mat-cell>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.fullName}} </mat-cell>
            </ng-container>

            <!-- Action Column (Botón de Añadir) -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <button mat-raised-button color="primary" (click)="createEnrollment(student.id)">
                        Añadir
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator
        #pageEventAdd
        (page)="handelPageEventAdd($event)"
        [length]="lengthAdd" 
        [pageIndex]="pageIndexAdd"
        [pageSize]="pageSizeAdd" 
        [pageSizeOptions]="pageSizeOptionsAdd" 
        [showFirstLastButtons]="showFirstLastButtonsAdd"></mat-paginator>
        <button mat-raised-button color="primary" class="button" [disabled]="selectedStudentsAdd.length === 0"
            (click)="createEnrollments(selectedStudentsAdd)">Añadir seleccionados</button>
    </div>

    <div class="user-table-container">
        <div class="heading">
            <h1>Estudiantes Inscritos</h1>
            <p>Elimina estudiantes de tu unidad de aprendizaje</p>
        </div>

        <div class="form-input">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Buscar</mat-label>
                <input matInput [(ngModel)]="searchTextDelete" (keyup)="applyFilterDelete()"
                    placeholder="Ingresa matricula o nombre">
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSourceDelete">
            <!-- Seleccion Column -->
            <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef> Seleccion </mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <mat-checkbox (change)="onCheckboxChangeDelete(student, $event.checked)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Matricula Column -->
            <ng-container matColumnDef="matricula">
                <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.matricula}} </mat-cell>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.fullName}} </mat-cell>
            </ng-container>

            <!-- Action Column (Botón de Eliminar) -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <button mat-raised-button color="warn" (click)="deleteEnrollment(student.enrollmentId)">
                        Eliminar
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator
        #pageEventDelete
        (page)="handelPageEventDelete($event)"
        [length]="lengthDelete" 
        [pageIndex]="pageIndexDelete"
        [pageSize]="pageSizeDelete" 
        [pageSizeOptions]="pageSizeOptionsDelete" 
        [showFirstLastButtons]="showFirstLastButtonsDelete"></mat-paginator>

        <button mat-raised-button color="warn" class="button" [disabled]="selectedStudentsDelete.length === 0"
            (click)="deleteEnrollments(selectedStudentsDelete)">Eliminar seleccionados</button>
    </div>

</div>