<mat-toolbar color="primary" class="toolbar-admin">
    <mat-toolbar-row>
        <span class="spacer"></span>
        <span>Inicio</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<button mat-raised-button routerLink="/add-learning-unit" class="button">Crear Unidad de Aprendizaje</button>

<div class="card-container">
    <div class="card" routerLink="/management-list">
        <div class="card-header">
            <h2>Nombre Unidad de Aprendizaje</h2>
        </div>
        <hr>
        <div class="card-info-container">
            <h5>Grado: <p>1er</p></h5> 
            <h5>Grupo: <p>A</p></h5> 
            <h5>Periodo: <p>Primavera2024</p></h5>
        </div> 
        <div class="card-footer">
            <button mat-raised-button color="primary">Editar</button>
            <button mat-button color="warn">Eliminar</button>
        </div>
    </div>
</div>

