.button-form {
    margin-top: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.table-container {
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    margin-inline: 1rem;
    width: 100%;
    max-width: 50%;
    max-height: auto;

    .full-width {
        width: 100%;
    }
}

/* Media queries para dispositivos de pantalla más pequeña */
@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .table-container {
        max-width: calc(100% - 4rem);
    }
}