<mat-toolbar color="primary" class="toolbar-admin">
    <mat-toolbar-row>
        <button mat-icon-button routerLink="/register" color="basic">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>Administrador</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
    <div class="container">
        <div class="heading">
            <h1>{{operation}} Fechas Parciales</h1>
            <p>Llena los siguientes campos con las fechas correspondientes a cada parcial</p>
        </div>

        <div class="heading">
            <h2>Periodo</h2>
            <p>Selecciona el periodo al que corresponden los parciales</p>
        </div>
        <form [formGroup]="periodForm">
            <mat-form-field class="full-width">
                <mat-label>Periodo</mat-label>
                <mat-select formControlName="id" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let period of periods" [value]="period.id">{{period.name}}</mat-option>
                </mat-select>
                <mat-hint>Selecciona el periodo</mat-hint>
            </mat-form-field>
        </form>

        <form [formGroup]="partialForm">
            <mat-form-field class="full-width">
                <mat-label>Parcial</mat-label>
                <mat-select formControlName="partial" required>
                    <mat-option>--</mat-option>
                    <mat-option value="first">Primero</mat-option>
                    <mat-option value="second">Segundo</mat-option>
                    <mat-option value="third">Tercero</mat-option>
                </mat-select>
                <mat-hint>Selecciona el periodo</mat-hint>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Rango del parcial</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Fecha inicio" required>
                    <mat-error *ngIf="partialForm.get('startDate')?.invalid">Fecha de inicio inválida</mat-error>
                    <input matEndDate formControlName="finishDate" placeholder="Fecha final" required>
                    <mat-error *ngIf="partialForm.get('finishDate')?.invalid">Fecha final inválida</mat-error>
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>
        </form>

        <div class="button-form">
            <button mat-raised-button color="primary" class="button" [disabled]="partialForm.invalid"
                (click)="createDataPartial()">Guardar parciales</button>
        </div>

    </div>

<div class="table-container">
        <h2>Parciales Registrados</h2>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()" placeholder="Ingresa parcial o periodo">
        </mat-form-field>

        <mat-table [dataSource]="dataSource">
            <!-- Period Column -->
            <ng-container matColumnDef="period">
                <mat-header-cell *matHeaderCellDef> Periodo </mat-header-cell>
                <mat-cell *matCellDef="let partials"> {{partials.period.name}} </mat-cell>
            </ng-container>

            <!-- Partial Column -->
            <ng-container matColumnDef="partial">
                <mat-header-cell *matHeaderCellDef> Parcial </mat-header-cell>
                <mat-cell *matCellDef="let partials"> {{partial[partials.partial]}} </mat-cell>
            </ng-container>

            <!-- StartDate Column -->
            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef> Fecha Inicio </mat-header-cell>
                <mat-cell *matCellDef="let partials"> {{partials.startDate}} </mat-cell>
            </ng-container>

            <!-- FinishDate Column -->
            <ng-container matColumnDef="finishDate">
                <mat-header-cell *matHeaderCellDef> Fecha Final </mat-header-cell>
                <mat-cell *matCellDef="let partials"> {{partials.finishDate}} </mat-cell>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let partials">
                    <button mat-icon-button color="primary" (click)="editPartial(partials.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deletePartial(partials.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

</div>