.container{
    border: 1px solid #dddddd; /* Borde */
}

.button { /* Ajusta el ancho del botón */
    height: 50px; /* Ajusta la altura del botón */
    padding: 10px 20px; /* Ajusta el padding interno del botón */
}

.user-table-container {
    background-color: white; /* Color de fondo */
    border: 1px solid #dddddd; /* Borde */
    border-radius: 1rem; /* Borde redondeado */
    padding: 20px; /* Ajuste de relleno */
    margin: 2rem;
    width: 100%; /* Ancho */
    max-width: 50%; /* Ancho máximo */
    max-height: auto; /* Altura máxima */  
}

/* Media queries para dispositivos de pantalla más pequeña */
@media only screen and (max-width: 768px) {
    .container {
        max-width: calc(100% - 4rem); /* Resta el margen para mantener el ancho correcto */
    }

    .user-table-container {
        max-width: calc(100% - 4rem); /* Resta el margen para mantener el ancho correcto */
        margin-bottom: 2rem;
    }
}
/* Media queries para dispositivos de pantalla más pequeña */
@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column; /* Cambia la dirección del flexbox a vertical */
        padding: 20px; /* Agrega espacio alrededor del contenido */
    }
}



