<!-- Interfaz Registro -->
<mat-toolbar color="primary" class="toolbar-admin">
    <mat-toolbar-row>
        <span>Administrador</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="button-container">
    <button mat-raised-button color="primary" class="button" routerLink="/periods">Administrar periodos</button>
    <button mat-raised-button color="primary" class="button" routerLink="/partial">Administrar parciales</button>
    <button mat-raised-button color="primary" class="button" routerLink="/register-student">Registrar alumnos</button>
</div>

<div class="wrapper">
    
    <div class="container">
        <div class="heading">
            <h1>{{operation}}</h1>
            <p>{{operation}} un usuario añadiendo su información en los campos siguientes.</p>
        </div>

        <div class="container-form">
            <form [formGroup]="formRegister" (ngSubmit)="createUser()">

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="fullName" placeholder="Nombre" required>
                        <mat-error
                            *ngIf="formRegister.get('fullName')?.hasError('required') && formRegister.get('fullName')?.touched">El
                            campo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput formControlName="email" placeholder="pat@example.com" required>
                        <mat-error
                            *ngIf="formRegister.get('email')?.hasError('required') && formRegister.get('email')?.touched">El
                            campo es requerido</mat-error>
                        <mat-error
                            *ngIf="formRegister.get('email')?.hasError('email') && formRegister.get('email')?.touched">Por
                            favor, introduce un correo electrónico válido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <mat-error
                            *ngIf="formRegister.get('password')?.hasError('required') && formRegister.get('password')?.touched">El
                            campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field class="full-width">
                        <mat-label>Rol del usuario</mat-label>
                        <mat-select formControlName="roles" required>
                            <mat-option>--</mat-option>
                            <mat-option value="ADMIN_ROLE">Administrador</mat-option>
                            <mat-option value="USER_ROLE">Docente</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" class="button" [disabled]="formRegister.invalid" type="submit">Guardar</button>

            </form>
        </div>
    </div>
    <div class="user-table-container">
        <h2>Docentes Registrados</h2>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()" placeholder="Ingresa el nombre o correo">
        </mat-form-field>
        <mat-table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rol">
                <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{roleNames[user.roles]}} </mat-cell>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <button mat-icon-button color="primary" (click)="editUser(user.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
        #paginator
        (page)="handelPageEvent($event)"
        [length]="length" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions" 
        [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>
    </div>

</div>