:root {
    --primary-color: #610726; /* Color principal */
    --primary-dark: #451b2d; /* Tono oscuro */
    --primary-light: #7f3a4d; /* Tono claro */
    --primary-hover: #542137; /* Color al pasar el ratón */
}

.toolbar-unit{
    background-color: #610726;
    color: white;
}

.unit-wrapper {
    background: linear-gradient(to bottom, #e0a7b6, #cfcfcf);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Altura automática */
}

.unit-container {
    background-color: white;
    width: 100%; /* Ancho */
    height: auto; /* Altura automática */
    max-width: 800px; /* Ancho máximo */
    margin-left: 2rem; /* Ajuste de espaciado derecho */
    margin-bottom: 2rem; /* Ajuste de espaciado inferior */
    margin-top: 2rem; /* Ajuste de espaciado superior */
    border: 1px solid #7f3a4d;
    border-radius: 1rem; /* Borde redondeado */
    padding: 20px; /* Ajuste de relleno */

    .heading {
        margin-bottom: 20px; /* Ajuste de espaciado */
        h1 {
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            color: #610726;
            margin-bottom: 10px; /* Ajuste de espaciado */
        }
        p {
            margin-top: 1rem;
            font-size: 1rem;
            text-align: center;
            color: #7f3a4d;
        }
    }

    .unit-form {
        margin-top: 5rem; /* Ajuste de espaciado */
        margin-bottom: 1.5rem; /* Ajuste de espaciado */
    }

    .unit-input {
        margin-bottom: 1rem; /* Ajuste de espaciado */
        
    }

    .full-width {
        width: calc(100% - 20px); /* Ajuste de ancho */
        margin: 0 10px; /* Espacio de 10px en cada lado */
    }

    a {
        display: block; /* Añadido para ocupar todo el ancho */
        text-align: center; /* Centrado */
        margin-bottom: 2rem; /* Ajuste de espaciado */
        color: #7f3a4d;
    }

    .button-register{
        width: calc(100% - 20px); /* Ajuste de ancho */
        height: 3rem; /* Ajuste de alto */
        margin: 0 10px; /* Espacio de 10px en cada lado */
        background-color: #610726; /* Color de fondo */
    }

    mat-icon{
        color: #610726; /* Color del icono */
    }

    mat-label {
        color: #610726; /* Color del texto */
    }
    
}
.select-container{
    display: flex;
    justify-content: center;
}
.form-field{
    margin-inline: 2rem;
}

.accordion-container{
    margin-top: 2rem;
    margin-bottom: 4rem;
}