.select-container {
    display: flex;
    justify-content: center;
}

.container{
    margin-block: 2rem;
}

.accordion-container {
    margin-block: 2rem;
}

.button {
    height: 50px;
    padding: 10px 20px;
}