:root {
    --primary-color: #610726; /* Color principal */
    --primary-dark: #451b2d; /* Tono oscuro */
    --primary-light: #7f3a4d; /* Tono claro */
    --primary-hover: #542137; /* Color al pasar el ratón */
}

.toolbar-unit{
    background-color: #610726;
    color: white;
}

.select-container{
    display: flex;
    justify-content: center;
}
.form-field{
    margin-inline: 2rem;
}

.accordion-container{
    margin-top: 2rem;
    margin-bottom: 4rem;
}