<!-- Interfaz Registro -->
<mat-toolbar color="primary" class="toolbar-admin">
    <mat-toolbar-row>
        <button mat-icon-button routerLink="/register" color="basic">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>Administrador</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
    <div class="container">
        <div class="heading">
            <h1>{{operation}}</h1>
            <p>{{operation}} un alumno añadiendo su información en los campos siguientes.</p>
        </div>

        <div class="container-form">
            <form [formGroup]="formRegisterStudent" (ngSubmit)="createStudent()">

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Matricula</mat-label>
                        <input matInput formControlName="matricula" placeholder="Matricula" required>
                        <mat-error
                            *ngIf="formRegisterStudent.get('matricula')?.hasError('required') && formRegisterStudent.get('matricula')?.touched">El
                            campo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="fullName" placeholder="Nombre" required>
                        <mat-error
                            *ngIf="formRegisterStudent.get('fullName')?.hasError('required') && formRegisterStudent.get('fullName')?.touched">El
                            campo es requerido</mat-error>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" class="button" [disabled]="formRegisterStudent.invalid" type="submit">Guardar</button>

            </form>
        </div>
    </div>
    
    <div class="user-table-container">
        <h2>Alumnos Registrados</h2>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()" placeholder="Ingresa el nombre o matricula">
        </mat-form-field>

        <mat-table [dataSource]="dataSource">

            <!-- Matricula Column -->
            <ng-container matColumnDef="matricula">
                <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.matricula}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.fullName}} </mat-cell>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <button mat-icon-button color="primary" (click)="editStudent(student.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteStudent(student.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
        #paginator
        (page)="handelPageEvent($event)"
        [length]="length" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions" 
        [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>
    </div>

</div>