.button-form{
    margin-top: 2rem;
    }
    
    .wrapper {
        display: flex; /* Habilita flexbox */
        flex-direction: row; /* Los elementos se alinean horizontalmente */
        align-items: flex-start; /* Los elementos se alinean al inicio del contenedor */
        padding: 20px; /* Agrega espacio alrededor del contenido */
    }
    
    .table-container {
        background-color: white; /* Color de fondo */
        border: 1px solid #dddddd; /* Borde */
        border-radius: 1rem; /* Borde redondeado */
        padding: 20px; /* Ajuste de relleno */
        margin: 2rem;
        width: 100%; /* Ancho */
        max-width: 50%; /* Ancho máximo */
        max-height: auto; /* Altura máxima */
        .full-width {
            width: 100%;
        } 
    }
    /* Media queries para dispositivos de pantalla más pequeña */
    @media only screen and (max-width: 768px) {
        .container {
            max-width: calc(100% - 4rem); /* Resta el margen para mantener el ancho correcto */
            
        }
        .table-container {
            max-width: calc(100% - 4rem); /* Ancho máximo en pantallas pequeñas */
            
        }
    }
    /* Media queries para dispositivos de pantalla más pequeña */
    @media only screen and (max-width: 768px) {
        .wrapper {
            flex-direction: column; /* Cambia la dirección del flexbox a vertical */
        }
        .table-container {
            max-width: calc(100% - 4rem); /* Ancho máximo en pantallas pequeñas */
            
        }
    }