<mat-toolbar  color="primary" class="toolbar-list">
    <mat-toolbar-row>
        <button mat-icon-button color="basic" routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Gestión de Listas de Asistencia</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="button-container">
    <button mat-raised-button class="button" (click)="managementStudent()">Gestionar Alumnos</button>
    <button mat-raised-button class="button" (click)="createAttendanceList()">Crear Lista de Asistencia</button>
    <button mat-raised-button class="button" (click)="managementReports()">Generar Reporte</button>
</div>

<div class="card-container">
    <div class="card" *ngFor="let date of datesArray" (click)="editAttendanceList(date)">
        <div class="card-header">
            <h2>{{date}}</h2>
        </div>
    </div>
</div>