
/* Estilos para el contenedor de los botones */
.button-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilos para el contenedor de la tarjeta */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* Estilos para la tarjeta */
.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 8px;
    margin-inline: 1rem;
}

/* Estilos para el encabezado de la tarjeta */


.card-header h2 {
    text-align: center;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .button-container {
        flex-direction: column; /* Cambia a una columna en dispositivos móviles */
    }
    .button{
        margin-top: .5rem;
    }

    .toolbar-list{
        font-size: 1rem;
    }
    

}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 400px) {

    .toolbar-list{
        font-size: .7rem;
    }
    

}
