<mat-toolbar  color="primary" class="toolbar-list">
    <mat-toolbar-row>
        <button mat-icon-button color="basic" routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Gestión de Listas de Asistencia</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="button-container">
    <button mat-raised-button class="button" (click)="managementStudent()">Gestionar Alumnos</button>
    <button mat-raised-button class="button" (click)="createAttendanceList()">Crear Lista de Asistencia</button>
    <button mat-raised-button class="button">Generar Reporte</button>
</div>

<div class="card-container">
    <div class="card" *ngFor="let date of datesArray">
        <div class="card-header">
            <h2>{{date}}</h2>
            <hr>
        </div>
        <div class="card-footer">
            <button mat-raised-button color="primary" (click)="editAttendanceList(date)">Editar</button>
            <button mat-button color="warn">Eliminar</button>
        </div>
    </div>
</div>