<!-- Interfaz Login -->
<div class="wrapper">
    <div class="container">
        <button mat-icon-button routerLink="/login" color="basic">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        <span class="spacer"></span>
        <div class="heading">
            <h1>Recuperar Contraseña</h1>
            <p>Ingresa el correo electrónico de tu cuenta para que puedas recuperar tu contraseña.</p>
        </div>

        <div class="container-form">
            <form [formGroup]="formForgotPassword" (ngSubmit)="sendEmail()">

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Correo eléctronico</mat-label>
                        <input formControlName="email" matInput placeholder="pat@example.com">
                        <mat-error
                            *ngIf="formForgotPassword.get('email')?.hasError('required') && formForgotPassword.get('email')?.touched">El
                            campo es requerido</mat-error>
                        <mat-error
                            *ngIf="formForgotPassword.get('email')?.hasError('email') && formForgotPassword.get('email')?.touched">Por
                            favor, introduce un correo electrónico válido</mat-error>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" class="button" [disabled]="formForgotPassword.invalid" type="submit">
                    Recuperar Contraseña
                </button>
            </form>
        </div>

    </div>
</div>