<!-- Interfaz Login -->
<div class="wrapper">
    <div class="container">
        <button mat-icon-button routerLink="/login" color="basic">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        <span class="spacer"></span>
        <div class="heading">
            <h1>Recuperar Contraseña</h1>
            <p>Ingresa una nueva contraseña para tu cuenta.</p>
        </div>

        <div class="container-form">
            <form [formGroup]="formResetPassword" (ngSubmit)="resetPassword()">

                <div class="form-input">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" matInput placeholder="Contraseña">
                        <mat-error
                            *ngIf="formResetPassword.get('password')?.hasError('required') && formResetPassword.get('password')?.touched">El
                            campo es requerido</mat-error>
                        <mat-error
                            *ngIf="formResetPassword.get('password')?.hasError('password') && formResetPassword.get('password')?.touched">Por
                            favor, introduce un correo electrónico válido</mat-error>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" class="button" [disabled]="formResetPassword.invalid" type="submit">
                    Actualizar Contraseña
                </button>
            </form>
        </div>

    </div>
</div>