html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Contenedor para el fondo */
.page-container {
    /*background: linear-gradient(to bottom, #e0a7b6, #cfcfcf);*/
    background-color: #f0f4f9;
    background-repeat: no-repeat;
    /* Evita que el fondo se repita */
    background-size: cover;
    /* Hace que el fondo cubra todo el contenedor */
    min-height: 100%;
    /* Ocupa toda la altura de la pantalla */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el tamaño total */
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-admin{
    color: white;
}

.button{
    width: calc(100% - 20px); /* Ajuste de ancho */
    height: 2rem;
    margin: 0 10px; /* Espacio de 10px en cada lado */
}

.wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Altura automática */
}

.container {
    background-color: white;
    width: 100%;
    height: auto;
    max-width: 50%;
    margin: 2rem;
    border-radius: 1rem;
    padding: 20px;

    .heading {
        margin-bottom: 2rem; /* Ajuste de espaciado */
        h1 {
            margin-top: 2rem;
            margin-left: 2rem;
            font-size: 2rem;
            font-weight: bold;
            /* text-align: center; */
            color: #1f1f1f;
            margin-bottom: 10px; /* Ajuste de espaciado */
        }
        h2{
            margin-top: 4rem;
            margin-left: 2rem;
        }
        p {
            margin-top: 2rem;
            margin-left: 2rem;
            font-size: 1rem;
            /* text-align: center; */
            color: #1f1f1f;
        }
    }

    .container-form {
        margin-top: 5rem; /* Ajuste de espaciado */
        margin-bottom: 1.5rem; /* Ajuste de espaciado */
    }

    .form-input {
        margin-bottom: 1rem; /* Ajuste de espaciado */
    }

    .full-width {
        width: calc(100% - 20px); /* Ajuste de ancho */
        margin: 0 10px; /* Espacio de 10px en cada lado */
    }

    a {
        display: block; /* Añadido para ocupar todo el ancho */
        text-align: center; /* Centrado */
        margin: 2rem 2rem; /* Ajuste de espaciado */
        color: #0b57d0;
    }
   
    mat-icon{
        color: #1f1f1f; /* Color del icono */
    }

    mat-label {
        color: #1f1f1f; /* Color del texto */
    }

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos para Toast de SeetAlert2 */

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
