<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button color="basic" routerLink="/management-list">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Pase de Asistencia</span>
        <span class="spacer"></span>
        <button mat-icon-button color="basic">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="form-input">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="searchText" (keyup)="applyFilterAdd()" placeholder="Ingresa matricula o nombre">
    </mat-form-field>
</div>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Name Column -->
    <ng-container matColumnDef="matricula">
        <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.matricula}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{data.fullName}} </mat-cell>
    </ng-container>

    <!-- Accion Column -->
        <ng-container matColumnDef="attendance">
            <mat-header-cell *matHeaderCellDef> Asistencia </mat-header-cell>
            <mat-cell *matCellDef="let data">
                <div class="attendance-options">
                    <mat-radio-group [(ngModel)]="data.attendance">
                        <mat-radio-button [value]="+1">Asistencia</mat-radio-button>
                        <mat-radio-button [value]="+0.5">Media</mat-radio-button>
                        <mat-radio-button [value]="+0.25">Cuarto</mat-radio-button>
                        <mat-radio-button [value]="+0">Nada</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<button mat-raised-button color="primary" class="button" (click)="createAttendanceList()">Guardar</button>