.form-input {
  margin: 2rem;
  width: calc(100% - 4rem);
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}
.button{
  height: 3rem;
  margin-bottom: 2rem;
}

.demo-table {
    width: 100%;
    overflow: auto;
    display: block;
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width: 600px) {
    .demo-table {
      overflow-x: auto;
    }
  }